    <footer id="main-footer">
      <div class="container">
        <div class="row row-wrap">
          <div class="col-md-3">
            <a class="logo" href="/">
            {if ($site.logo_small)}
              <img src="{$site.logo_small}" alt="{$site.name}" title="Image Title" height="55" width="130" />
            {else}
            {$site.name}
            {/if}
            </a>
            
            <p class="mb20"></p>
          </div>

          <!--div class="col-md-3">
            <h4>Newsletter</h4>
            <form>
              <label>Enter your E-mail Address</label>
              <input type="text" class="form-control">
              <p class="mt5"><small>*We Never Send Spam</small>
              </p>
              <input type="submit" class="btn btn-primary" value="Subscribe">
            </form>
          </div-->
          <div class="col-md-5">
          
          </div>
          <div class="col-md-4">
          All Right Reserved &copy; 2017 - 2018 &nbsp;
          </div>

        </div>
      </div>
    </footer>


